html {
  /* overflow: hidden; */
  /* scrollbar-width: none; */
}

body {
  margin: 0;
  background-color: #c6c6c6;
  /* background-color: red; */
  overflow: hidden;
}

canvas {
  display: block;
  image-rendering: pixelated;
}

/* ::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
} */

/* html {
  touch-action: manipulation;
} */
